@import url("https://api.fontshare.com/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901,1,2&f[]=clash-display@200,300,400,500,600,700,1&display=swap");

.appContainer {
  display: grid;
  height: 100vh;
  grid-template-rows: 0.09fr 1fr 0.05fr;
  grid-template-areas:
    "navbar"
    "routes"
    "footer";
  text-align: center;
  grid-row-gap: 0;
}

#navbar {
  grid-area: navbar;
}

#routes {
  grid-area: routes;
}

#footer {
  grid-area: footer;
}
